<md-content class="md-padding">


  <div ng-repeat="(ifname,infos) in status">
    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools">
        <i class="material-icons md-36">wifi_tethering</i>
				<span><small>{{ifname}} - </small>{{infos.ssid[0]}}</span>
        <span flex></span>

        <!-- INTERFACE BAR MENU -->
  			<md-menu md-position-mode="target-right target" >
        	<md-button class="md-icon-button" aria-label="more"
          	ng-click="$mdOpenMenu($event)">
          	<i class="material-icons">more_vert</i>
        	</md-button>
          <!-- CHANGE SSID -->
          <md-menu-content width="4" >
            <md-menu-item>
							<md-button ng-click="showChangeSSIDDialog($event)">
								<p flex>Change SSID</p>
							</md-button>
						</md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>

    <md-list class="md-dense" >
      <md-list-item class="md-3-line" 
        ng-repeat="(mac,client) in infos.clients"
        layout="row">
        <div flex-gt-sm="50" flex layout="row">
          <i class="material-icons md-36 md-avatar">{{getIconFromDevice(client.device)}}</i>
          <div class="md-list-item-text" layout="column">
            <h3>{{client.name}}</h3>
            <h4>{{client.device.brand}} {{client.device.family}}</h4>
            <p>{{client.ip}} ({{mac}})</p>
          </div>
        </div>
        <div flex-gt-sm="50" flex>
          <small>Inactive since {{client.inactivity}}s</small>
          <div flex layout="row">
            <div ng-repeat="service in client.services"
                  ng-switch="service.icon.type">
              <i ng-switch-when="i" class="material-icons md-36">{{service.icon.src}}</i>
              <md-icon ng-switch-when="img" md-svg-src="{{service.icon.src}}" class="service-icon"></md-icon>
              <i ng-switch-default class="material-icons md-36 md-avatar">android</i>
            </div>
          </div>
        </div>
      </md-list-item>
    </md-list>

  </div>
</md-content>
