<md-content class="md-padding">


  <div ng-repeat="(ifname,infos) in status">
    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools">
        <i class="material-icons md-36">wifi_tethering</i>
        <h2 class="md-toolbar-tools">
          <span>{{infos.ssid[0]}}</span>
        </h2>
        <span flex></span>
  			<md-menu md-position-mode="target-right target" >
        	<md-button class="md-icon-button" aria-label="more"
          	ng-click="$mdOpenMenu($event)">
          	<i class="material-icons">more_vert</i>
        	</md-button>

          <md-menu-content width="4" >
            <md-menu-item>
							<md-button ng-click="showChangeSSIDDialog($event)">
								<p flex>Change SSID</p>
							</md-button>
						</md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
    <md-list class="md-dense" >
      <md-list-item class="md-3-line" ng-repeat="(mac,client) in infos.clients">
        <i class="material-icons md-36 md-avatar">phone_android</i>
        <div class="md-list-item-text" layout="column">
          <h3>{{mac}}</h3>
          <h4>{{client.name}}</h4>
          <p>{{client.ip}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
